In [1]:
import pandas as pd

In [3]:
students = ['Alice','Jack','Molly']
pd.Series(students)

0    Alice
1     Jack
2    Molly
dtype: object

In [4]:
students =['Alice','Jack',None]
pd.Series(students)

0    Alice
1     Jack
2     None
dtype: object

In [5]:
Numbers =[1,2,None]
pd.Series(Numbers)

0    1.0
1    2.0
2    NaN
dtype: float64

In [6]:
import numpy as np

In [7]:
np.nan == None

False

In [8]:
np.nan == np.nan

False

In [9]:
np.isnan(np.nan)

True

In [11]:
students_score = {'Alice':'Physics',
                 'Jack':'Chemistry',
                 'Molly':'English'}
s=pd.Series(students_score)
s

Alice      Physics
Jack     Chemistry
Molly      English
dtype: object

In [12]:
s.index

Index(['Alice', 'Jack', 'Molly'], dtype='object')

In [14]:
students = [("Alice","Brown"),("Jack","White"),("Molly","Green")]
pd.Series(students)

0    (Alice, Brown)
1     (Jack, White)
2    (Molly, Green)
dtype: object

In [18]:
s = pd.Series(['Physics','Chemistry','English'], index=['Alice','Jack','Molly'])
s

Alice      Physics
Jack     Chemistry
Molly      English
dtype: object

In [19]:
students_score = {'Alice':'Physics',
                 'Jack':'Chemistry',
                 'Molly':'English'}
s=pd.Series(students_score,index=['Alice','Molly','Sam'])
s

Alice    Physics
Molly    English
Sam          NaN
dtype: object

In [22]:
students_classes = {'Alice':'Physics',
                 'Jack':'Chemistry',
                 'Molly':'English',
                   'Sam': 'History'}
s=pd.Series(students_classes)
s

Alice      Physics
Jack     Chemistry
Molly      English
Sam        History
dtype: object

In [23]:
s.iloc[3]

'History'

In [24]:
s.loc['Molly']

'English'

In [25]:
s[3]

'History'

In [26]:
s['Molly']

'English'

In [29]:
class_code = {99:'Physics',
             100:'Chemistry',
             101:'English',
             102:'History'}
s=pd.Series(class_code)
s

99       Physics
100    Chemistry
101      English
102      History
dtype: object

In [31]:
grades = pd.Series([90,80,70,60])

total = 0
for grade in grades:
    total+=grade
print(total/len(grades))

75.0

In [32]:
#in numpy after importing
total = np.sum(grades)
print(total/len(grades))

75.0

In [33]:
numbers = pd.Series(np.random.randint(0,1000,10000))
numbers.head()

0    362
1     99
2    483
3    895
4     57
dtype: int32

In [34]:
len(numbers)

10000

In [35]:
%%timeit -n 100
total=0
for number in numbers:
    total+=number

total/len(numbers)

1.51 ms ± 161 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [36]:
%%timeit -n 100
total=np.sum(numbers)
total/len(numbers)

The slowest run took 8.38 times longer than the fastest. This could mean that an intermediate result is being cached.
136 µs ± 155 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

# Broadcasting

In [37]:
numbers.head()

0    362
1     99
2    483
3    895
4     57
dtype: int32

In [38]:
numbers+=2
numbers.head()

0    364
1    101
2    485
3    897
4     59
dtype: int32

# Speed Comparison

In [47]:
%%timeit -n 10
s=pd.Series(np.random.randint(0,1000,1000))
for label, value in s.iteritems():
    s.loc[label]= value+2

45.8 ms ± 3.42 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [48]:
%%timeit -n 10
s=pd.Series(np.random.randint(0,1000,1000))
s+=2

440 µs ± 93.3 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [49]:
s=pd.Series([1,2,3])
s.loc['History'] = 102
s

0            1
1            2
2            3
History    102
dtype: int64

# Example of Different indexes

In [50]:
students_classes = pd.Series({'Alice':'Physics',
                             'Jack':'Chemistry',
                             'Molly':'English',
                             'Sam':'History'})
students_classes

Alice      Physics
Jack     Chemistry
Molly      English
Sam        History
dtype: object

In [52]:
Kelley_classes = pd.Series(['Philosophy','Arts','Maths'], index=['Kelley','Kelley','Kelley'])
Kelley_classes

Kelley    Philosophy
Kelley          Arts
Kelley         Maths
dtype: object

In [54]:
all_students_classes = students_classes.append(Kelley_classes)
all_students_classes

Alice        Physics
Jack       Chemistry
Molly        English
Sam          History
Kelley    Philosophy
Kelley          Arts
Kelley         Maths
dtype: object

In [55]:
all_students_classes.loc['Kelley']

Kelley    Philosophy
Kelley          Arts
Kelley         Maths
dtype: object